<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    2020 Democratic Candidate Power Rankings
  </h1>
</div>


<div>
<ol>
  <li *ngFor="let primaryDem of primaryDemsList">
    <table>
      <tr>
        <td>
          <img [src]="primaryDem.image"/> <br />
          <h3>  {{primaryDem.name}} </h3>
        </td>
        <td>
{{primaryDem.lastTradePrice}} <round-progress [current]="primaryDem.lastTradePrice" [max]="1" [radius]="50" [color]="'#374785'" [semicircle]="false"></round-progress>
        </td>
      </tr>
    </table>

  </li>
</ol>
</div>
<router-outlet></router-outlet>
